@font-face {
  font-family: 'ClearSans';
  src: url('../fonts/ClearSans-Medium.eot'); /* IE9 Compat Modes */
  src: url('../fonts/ClearSans-Medium.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/ClearSans-Medium.woff') format('woff'), /* Modern Browsers */
       url('../fonts/ClearSans-Medium.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/ClearSans-Medium.svg#ClearSans') format('svg'); /* Legacy iOS */
}

* { font-family: 'ClearSans'; }
